*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  width: 800px;

}

.post__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

.post{
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
  width: 30%;
}

.delete__btn{
  border: 2px solid teal;
  background: inherit;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}
.form{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.empty__post{
  text-align: center;
}
.loading__icon{
  display: flex;
  justify-content: center;
}
.loader{
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to  {
    transform: rotate(360deg);
  }
  
}
